body{
    font-family: "Segoe UI";
    margin-left: 250px;
    margin-right: 250px; 
        
}
.fondolatido{
    position: absolute;
    
    top: 75px;
    left: 0px;
}
.latido{
    position: fixed; 
    width: 100%;
    height: 25%;
    z-index: -2;
    opacity:0.5;
   
}
/*encabezado*/
.encabezado{
    background-image: url("../images/fondo.jpg") ;
    background-image: fixed;
    background-size: cover;
    height: 350px;
    margin-top: 0;
}

.encabezado .enlaces ul{
    list-style:none; 
     width:100%; 
     margin: 0px;
     padding: 0px;
}
.encabezado .enlaces li{
    display: inline-block;
     margin: 10px;
     background-color:rgba(255, 0, 0,.3);
     padding: 5px;
     font-size: 20px;
    
}
.encabezado .enlaces a{
    text-decoration:none;
    color:black
}
.encabezado .intro{
    color: white;
    border-style:solid ;
    border-width: 5px;
    text-align: center;
    width:500px;
    margin-left: auto;
    margin-right: auto;
}

/*perfuil*/

.perfil{
   
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
   
}
.perfil img{
    width: auto;
    height: 100%;
    margin-left: -70px;
}


/*cuerpo*/
.cuerpo{
    background-color:rgba(255, 255, 255, 0);
    height:auto;
    text-align: center;
    margin: 0px
}
.cuerpo .contenido{
    
    padding: 10px;
    margin: 10px;
}
/*portafolio*/
.portafolio{
    background-color: #292828a4;
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}
.titulo-controles {
    display: flex  ;
    justify-content: space-between;
    align-items: end;
}
.titulo-controles h3 {
    color: white;
    font-size: 30px;
}
/* indicadore */
.titulo-controles .indicadores button{
    background: white;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}
.titulo-controles .indicadores button:hover,
.titulo-controles .indicadores button.activo{
    background: red;
}
.portafolio .principal{
    display: flex;
    align-items: center;
    position: relative;
}
.portafolio .contenedor-carrusel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}
.portafolio .contenedor-carrusel .carrusel{
    display: flex;

}
.portafolio .contenedor-carrusel .carrusel .musica{
    min-width:20%;
    background: #494848;
    transition: .3s ease all ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}
.portafolio .contenedor-carrusel .carrusel .musica:hover{
    transform: scale(1.2);
    transform-origin: center;
}
.portafolio .contenedor-carrusel .carrusel .musica img{
    vertical-align: auto;
    width: 125px;
}

.flecha-izquierda, .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0,0.3);
    font-size: 40px;
    height: 50%;
    top:calc(50%-25%);
    line-height: 40px;
    width: 50px;
    color: white;
    cursor: pointer;
    z-index: 500;
    transition: .2s ease all;
}
.flecha-izquierda:hover, .flecha-derecha:hover {
    background: rgba(0, 0, 0,0.7);
}
.flecha-izquierda{
    left: 0;;
}
.flecha-derecha{
    right: 0;;
}



















/*contactos*/
.contacto{
    height: auto;
    width: 100%;
    margin-bottom: 100px;
    padding-top: 5px;
 
}

.contacto div{
    display: inline-block;
    
}

.contacto li{
    display: inline-block;
    margin:10px
}
 .formulario{
  padding:20px;
     width: 60%;
    font-size: 25px;
    height: auto;
    
   
}
 .formulario input, .conin{
    background-color: #292828a4;
    color: white;
    width: 90%;
    font-size: 20px;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
 .formulario textarea{
    resize: none;
}   
 
.infocontac{
     
    font-size: 20px;
    color: #292828a4;
    width: 30%;   
    height: auto;
    position: absolute;
    margin: auto;
    right: 0;

    
}
.infocontac li{
    display: inline-block;
}

::placeholder { color: white; }





@media only screen and (max-width:1600px) {
body { 
    margin-left: 100px;
    margin-right: 100px;
  } 
}
 
@media only screen and (max-width:1270px){  
body {
    margin: 0;
  }
}
@media only screen and (max-width:1000px){  
    .formulario{
        display: block;
        width: 95%;
    }
    .infocontac{
      background-color: #292828a4;
        display: block;
        width: 100%;
        padding-top: 0;
        position: relative;
        float: right;
    }
    .infocontac ul{
        float: right;
        margin-right: 10vw
    }
    .infocontac li{
        display: inline-block;
    }
    .latido{ 
        width: 100%;
        height: 15%;  
    }
    .trabajos  td{ 
        padding: 15px;
    }
    .trabajos img{ 
        width: 115px;
        height: auto;        
    }
    .trabajos p{
        font-size: 25px
    }
}

 @media only screen and (max-width:680px){
    body{
        margin:0;
        padding: 0;
    }
    .container{ 
        margin: 0px;  
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .encabezado{  
        padding: 0px;
        margin: 0px;
        color: black;
        background-image:none;
        height:250px; 
        
    }
    .encabezado .enlaces{
        font-size:15px;
        width: 100%;
    }
    
    .encabezado .enlaces li{
        font-size: 15px;
    }
    .encabezado .intro{
        /* background-color: rgb(66, 60, 60); */
        color: white;
        font-size: 10px;
        width: 100%;
        border-style:none ;
        text-align: none;
        margin:0;
        padding: 3px 0px 3px 0px;
    }
    .trabajos img{ 
        width: 25vw;
        height: auto;        
    }
    
    /*perfil*/

        
    .perfil{
        position: absolute;
        top: 0;
        z-index: -2;
        width: 100%;
        height: 27%;
        margin: 0px;
        padding: 0px;
        border-radius: 0%;
        
    
    }
    .perfil img{
        width: 100%;
        min-width: 450px;
        height: auto;
        min-height:250px; 
        display: flex;
        margin: 0px;
       
    }
    /* fin perfil */
    .fondolatido{
        display: none;
    } 
    .trabajos p{
        font-size: 20px
    }
    .trabajos  td{ 
    padding:25px;
    display: inline-block;
    } 
    .cuerpo{
        display: block;
        width: 100%;
        padding:0;
        margin: 0;
        margin-top: 15px;
     }
     .cuerpo .titulo{
         font-size: 20px;
         margin: 0;
     }
      
     .cuerpo .contenido{
        font-size: 15px;
        margin: 0;
     }
     .formulario{
         margin: 0px;
         padding: 0px;
     }
     .encabezado .enlaces li{
        display: inline-block;
         margin: 5px;
     }
     .enlaces ul{
         display: flex;
     }
     .formulario{
         margin: 0px;
         padding: 10px;
     }
     .formulario h2{
         font-size: 20px;
     }
     .formulario input, .conin{
        
        width: 90%;
        font-size: 15px;
        display: block;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
    }
/* portafoli */
.portafolio .contenedor-carrusel{
    overflow: visible;
}
.portafolio .principal .contenedor-carrusel .carrusel{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.portafolio .indicadores,
.portafolio .flecha-derecha,
.portafolio .flecha-izquierda{
    display: none;
}
 



} 
 